
/*   NAV BAR CSS*/

:root{
    --bodyColor : #f4f6fb;
    --inputFieldColor : #d2dae7;
    --iconColor : #5863b4;
    --buttonColor : #5863b4;
    --btnTextColor : #fff;
    --modalColor : #eaecf7;

    /* --bodyColor : ; */
    /* --modalColor : #eaecf8; */
    --modalButtonColor : linear-gradient(-180deg, #1d95c9, #17759c 100%);
    --modalFieldColor : #d2dae7 ;
    --inputPlaceholderColor : ;
    --inputTextColor : ;
    --inputIconColor : ;
    --errorMsgColor : ;
    --modalHeadingColor : #000;
}
.nav-bar-height{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar{
    width: 75px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: relative;
    z-index: 100;
    background-color: #fafafa;
    box-shadow: -2px 0px 10px -3px #1e1e1e;
}
.sidebar .imageSet{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar .imageSet img{
    width: 80%;
    height: 80%;
}
.navbar{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    padding: 15px 0px;
}
.navbar ul li a{
    text-decoration: none;
}
.navbar ul li a i{
    font-size: 30px;
    color: black;
    padding: 10px;
    border-radius: 150px;
    background: linear-gradient(145deg, #ffffff, #e1e1e1);
    box-shadow: -1px -1px 2px #bebebe,
                1px 2px 2px #bebebe,
                -1px -1px 2px #ffffff;
}

/** from**/
.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.aduit-details {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.Aduit-Number,
.Aduit-scope,
.location,
.Scheduled {
  margin-bottom: 10px;

}

.Aduit-Number h7,
.Aduit-scope h7,
.location h7,
.Scheduled h7 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  
}

.aduit-scope-input {
  background-color: #f2f3f5; /* Light gray background */
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  box-shadow: #09739c 0.1px 0.2px;

}
.bar-prog {
  grid-column: 1 / span 3;
  height: 5px;
  background-color: #007bff;
  margin-bottom: 20px;
}


.Result-aduit{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
}
.char{
    width: 20%;
   
}
.Result-aduit{
    display: flex;
    gap: 15%;

}
.audit-res{
    font-size: 30px;
    font-weight: 600;
}


/**CSS FOR TABLE*/
.table-container {
    padding: 20px;
  }
  
  .table-buttons {
    margin-bottom: 20px;
  }
  
  .table-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color:#3a4d63;
    color: #f0dede;
    border-radius: 10px;
    box-shadow: #2e4061 1.95px 1.95px 2.6px;
    border-color:#2e4061;
    border-bottom: #2e4061;
   
  }
  
  .table-container-scroll {
    max-height: 200px; /* Adjust the maximum height as needed */
    overflow: auto;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .data-table th,
  .data-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  /* Custom scroll bar */
  .table-container-scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  .table-container-scroll::-webkit-scrollbar-track {
    background-color: #f2f3f5;
  }
  
  .table-container-scroll::-webkit-scrollbar-thumb {
    background-color: #09739c;
  }
  .table-boder{
    background-color: #2e4061;
    color:white;
    font-size: large;
  }
  .asset-aduit{
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: rgb(53, 66, 89);
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: 700;
    margin: 0px 0px 0px 0.525em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: normal;
    font-family: Lato, Oxygen, "Open Sans", Montserrat, "PT Sans", Verdana, Arial, sans-serif;
  }